td{
	text-align:center;
}
tr{
	border:10px;
	width:100%;
}
.cercabk{
	background-color:lightgrey;
	padding-bottom:20px;
	padding-right:10px;
	margin:10px;
	border-radius:7px;
}
#cerca{
	margin-top:20px;
}

#genere{
	width:50%;
}
#film{
	height:98px;
	width:95%;
	display:none;
	background-color:grey;
	opacity:0.5
	position:abs;
}
#vedi{
	widows:90%;
	display:none;
}
#locandina{
	height:150px;
}
#invis{
	display:none;
}








